$color-primary: #007bff;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-darker: darken($color-primary, 20%);
$color-secondary: rgba(0, 0, 0, 0.05);
$color-text: white;
$color-disabled: #ccc;
$color-hover: rgba(0, 140, 255, 0.8);
$color-grey-glass: rgba(255, 255, 255, 0.15);
