$COLOR-PRIMARY: #007bff;
$COLOR-PRIMARY-DARK: darken($COLOR-PRIMARY, 10%);
$COLOR-PRIMARY-DARKER: darken($COLOR-PRIMARY, 20%);
$COLOR-SECONDARY: rgba(0, 0, 0, 0.05);
$COLOR-TEXT: white;
$COLOR-DISABLED: #ccc;
$COLOR-HOVER: rgba(0, 140, 255, 0.8);
$COLOR-GREY-GLASS: rgba(255, 255, 255, 0.15);
