/*
FONTS
 */
$FONT_SIZE_PAGE_TITLE: 6rem;
$FONT_SIZE_PAGE_TITLE_SMALLER: 4rem;
$FONT_SIZE_XXXL: 3.2rem;
$FONT_SIZE_XXL: 2rem;
$FONT-SIZE_XL: 1.6rem;
$FONT_SIZE_LARGER: 1.4rem;
$FONT_SIZE_SLIGHTLY_LARGER: 1.2rem;
$FONT_SIZE_DEFAULT: 1rem;
$FONT_SIZE_SLIGHTLY_SMALLER: 0.8rem;

/*
PADDINGS & MARGINS
 */
$DEFAULT_PAGE_PADDING: 2rem;
$DEFAULT_PAGE_PADDING_LOWER: 1rem;
$DEFAULT_PAGE_PADDING_LOWEST: 0.5rem;

$DEFAULT_PAGE_MARGIN_GREATER: 3rem;
$DEFAULT_PAGE_MARGIN: 2rem;
$DEFAULT_PAGE_MARGIN_LOWER: 1rem;
$DEFAULT_PAGE_MARGIN_LOWEST: 0.5rem;

/*
BORDER RADIUS
 */

$DEFAULT_BORDER_RADIUS: 15px;
$DEFAULT_BORDER_RADIUS_LOWEST: 5px;

/*
GAPS
 */
$DEFAULT_GAP_GREATER: 2rem;
$DEFAULT_GAP: 1rem;
