@import 'src/app/styles/glass.styles';
@import "../styles/mixin-basics";

.glass-container {
  @include configured-absolute-pos(50%,50%);
  transform: translate(-50%, -50%);
  @include flex(column, center, center);
  width: 30rem;
  max-width: 80%;
  padding: $DEFAULT_PAGE_PADDING;
  gap: $DEFAULT_GAP;
  border-radius: $DEFAULT_BORDER_RADIUS;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: white;
  font-size: $FONT_SIZE_DEFAULT;

  .form-group {
    @include flex(column, center, center);
    margin-bottom: $DEFAULT_PAGE_MARGIN_LOWER;

  input {
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    border: none;
    border-radius: $DEFAULT_BORDER_RADIUS_LOWEST;
    color: white;
    margin-bottom: $DEFAULT_PAGE_MARGIN_LOWEST;
    margin-top: $DEFAULT_PAGE_MARGIN_LOWEST;
    padding: $DEFAULT_PAGE_PADDING_LOWEST;
    width: 90%;
    font-size: $FONT_SIZE_DEFAULT;
  }
  button{
    font-size: $FONT_SIZE_SLIGHTLY_SMALLER;
  }
    .error-message {
      visibility: hidden; // domyślnie ukryty
      height: 20px; // ustalona wysokość
      font-size: $FONT_SIZE_SLIGHTLY_SMALLER;
      font-weight: bolder;
      color: red;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    }

    .error-message.show {
      visibility: visible; // widoczny, gdy jest błąd
    }
}
}
